* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  text-align: center;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  margin: 10px;
  width: 300px;
  height: 40px;
  font-size: 18px;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid darkgrey;
  outline: none;
  background-color: rgb(245, 245, 245);
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
}

button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: 1px solid darkgrey;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: rgb(112, 112, 112);
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(158, 158, 158);
}

ul {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  align-items: flex-start;
}

li {
  background-color: lightgray;
  min-width: 200px;
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

#task {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: max-content;
}

h2 {
  font-size: 18px;
  width: 100%;
}
